numpy==1.26.1
matplotlib==3.10.0
opencv-python==4.11.0.86
yfinance==0.2.54
pandas
Flask-MQTT==1.2.1
Flask-SocketIO==5.5.1
eventlet==0.39.1
Flask-Bootstrap==3.3.7.1
scikit-learn==1.6.1
keras==3.9.2
tensorflow==2.19.0
psycopg2==2.9.10